<html>
    <head>
        <title>The Wheel Deal</title>
        <style>
            html, body { height: 100%; }

.parent {
    margin-top: 4.3cm;
  height: 200px;
  background:transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child {
    float:left;
    font-size: xx-large;
    font-weight: 800;
    color:orange;
  background-color:transparent;
  width: 15cm;
  height: 70px;
}
img{
    height:2cm;
    width:3cm
}

        </style>
    </head>
    <body style="margin:0;background-color: black">
       <div class="parent">
        <div class="child">
            500 See you in a while..<br><br><br>
            <a href='/'><img src="https://media.istockphoto.com/id/1216419742/video/white-arrows-animated-on-black-background-submit-button-in-motion.jpg?s=640x640&k=20&c=KunKkeAXJJn7WfjYD8DQSVLbAY9r-ZZO_fPbgRWL7VA="/></a>
        </div>
       </div>
    </body>
</html>