<html>
    <head>
        <title>The Wheel Deal: Team</title>
        <link rel="icon" href="/images/icons8-retro-car-48.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
        <style>
          #team1{
            font-size: xx-large;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bolder;
            margin-top: 20%;
            margin-left: 10%;
            font-size: 45px;
        }
        
        #team2{
            font-size: large;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin-left: 10%;
            font-size: 20px;
        }
        
        #team3{
            height: 8cm;
            width:16cm;
            float: right;
            margin-right: 2%;
            margin-top: -18%;
        }
        
        #team4{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            font-weight: 900;
            margin-top: 42%;
            margin-bottom: 5%;
            font-size: xx-large;
        }
        
        #team5{ 
            width: 240px;
            height: 240px;
            border-radius: 50%;
            margin-left: 12%;
            margin-top: 1%;
        }
        
        
        #team6{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin-top: -10%;
            margin-left: 35%;
            font-weight: bolder;
            font-size: x-large;
        }
        
        #team7{
            margin-top: 12.5%;
            margin-left: 12%;
            width: 240px;
            height: 240px;
            border-radius: 50%;
            margin-bottom: 9%;
        }
        
        #team8{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin-left: 35%;
            margin-top: -18.6%;
            font-weight: bolder;
            font-size: x-large;
        }
        
        #team9{
            margin-top: 12.5%;
            margin-left: 12%;
            width: 240px;
            height: 240px;
            border-radius: 50%;
        }
        
        #team10{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: bolder;
            font-size: x-large;
            margin-left: 35%;
            margin-top: -10%;
        }
        
        .team11{
            font-family: monospace;
            font-weight: bold;
            font-size: 1.2rem;
            margin-left: 35%;
        }
        
        .btn-outline-dark{
            margin-left: 43%;
            margin-top: 10%;
        }
        .btn-light{
            margin-left: 2%;
            margin-top: 10%;
        }
        
        #footer{
            text-align: center;
            padding: 2%;
        }
        
        
        .dark-mode {
            background-color: black;
            color: white;
          }
          .light-mode {
            background-color: white;
            color: black;
          }
        
        
        #arrow {
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        #arrow span {
            margin-top: 100%;
            display: block;
            width: 20px;
            height: 20px;
            border-bottom: 5px solid #06A8FF;
            border-right: 5px solid #06A8FF;
            transform: rotate(45deg);
            margin: -10px;
            animation: scroll1 2s infinite;
        }
        
        #arrow span:nth-child(2) {
            animation-delay: -.2s;
        }
        
        #arrow span:nth-child(3) {
            animation-delay: -.4s;
        }
        
        @keyframes scroll1 {
            0% {
                opacity: 1;
                transform: rotate(45deg) translate(-20px, -20px);
                border-bottom: 5px solid #ff6a06;
                border-right: 5px solid #ff9b06;
            }
            50% {
                opacity: 1;
                transform: rotate(45deg) translate(-20px, -20px);
            }
            100% {
                opacity: 1;
                transform: rotate(45deg) translate(-20px, -20px);
            }
        }
        </style>
    </head>
    <body>
        <div class="container-fluid bg-dark py-3 px-lg-5 d-none d-lg-block">
            <div class="row">
                <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-body pr-3" href=""><i class="fa fa-phone-alt mr-2"></i>8789681146</a>
                        <span class="text-body">|</span>
                        <a class="text-body px-3" href=""><i class="fa fa-envelope mr-2"></i>wheeldeal@gmail.com</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-body px-3" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-body px-3" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-body px-3" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-body px-3" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-body pl-3" href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->
    
    
        <!-- Navbar Start -->
        <div class="container-fluid position-relative nav-bar p-0">
            <div class="position-relative px-lg-5" style="z-index: 9;">
                <nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 py-lg-0 pl-3 pl-lg-5">
                    <a href="" class="navbar-brand">
                        <h1 class="text-uppercase text-primary mb-1">The Wheel Deal</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                        <div class="navbar-nav ml-auto py-0">
                            <a href="/" class="nav-item nav-link">Home</a>
                            <a href="/" class="nav-item nav-link">About</a>
                            <a href="/services" class="nav-item nav-link">Service</a>
                            <a href="/team" class="nav-item nav-link active">The Team</a>
                            <!-- <a href="/testimonial" class="nav-item nav-link">Testimonial</a> -->
                            <a href="/contact" class="nav-item nav-link">Contact</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
       <br><br>
        <div class="container-fluid page-header">
            <h1 class="display-3 text-uppercase text-white mb-3">The Team</h1>
            <div class="d-inline-flex text-white">
                <h6 class="text-uppercase m-0"><a class="text-white" href="">Home</a></h6>
                <h6 class="text-body m-0 px-3">/</h6>
                <h6 class="text-uppercase text-body m-0">The Team</h6>
            </div>
        </div>
        <div class="div1">
            <p id="team1">The Team</p>
        <p id="team2">Developers of The Wheel Deal</p>
        </div>
        <div class="div2">
            <img id="team3" align="right" src="https://i.pinimg.com/originals/57/07/26/570726f9398849aa200fbcba9466f9f2.gif">
        </div>
        <div id="arrow"><a href="#team4">
            <span></span>
            <span></span>
            <span></span>       
         </div>
        </a>
        <p id="team4">The Contributors</p>
        <br>
        <br>
        <img id="team5" src="/images/sachin1.jpeg">
        <p id="team6">Sachin Raghuvanshi</p>
        <p class="team11">Sophomore at VIT Vellore , Expertise:- Machine Learning , Web Development</p>
        <img id="team7" src="/images/ayush1.jpeg">
        <p id="team8">Ayush Gautam</p>
        <p class="team11">Sophomore at VIT Vellore , Expertise:- Web Development , Blockchain</p>
        <img id="team9" src="/images/rohit.jpeg">
        <p id="team10">Rohit Raushan</p>
        <p class="team11">Sophomore at VIT Vellore , Expertise:- Web Development , Android Development</p>
        <button  class="btn btn-outline-dark btn-sm" onclick="darkMode()">Darkmode</button>
    <button class="btn btn-light btn-sm" onclick="lightMode()">LightMode</button>

        <div class="container-fluid bg-secondary py-5 px-sm-3 px-md-5" style="margin-top: 90px;">
            <div class="row pt-5">
                <div class="col-lg-3 col-md-6 mb-5">
                    <h4 class="text-uppercase text-light mb-4">Get In Touch</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-white mr-3"></i>123 Street, New York, USA</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-white mr-3"></i>+012 345 67890</p>
                    <p><i class="fa fa-envelope text-white mr-3"></i>info@example.com</p>
                    <h6 class="text-uppercase text-white py-2">Follow Us</h6>
                    <div class="d-flex justify-content-start">
                        <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-lg btn-dark btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h4 class="text-uppercase text-light mb-4">Usefull Links</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Private Policy</a>
                        <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Term & Conditions</a>
                        <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>New Member Registration</a>
                        <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Affiliate Programme</a>
                        <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Return & Refund</a>
                        <a class="text-body" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Help & FQAs</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h4 class="text-uppercase text-light mb-4">Car Gallery</h4>
                    <div class="row mx-n1">
                        <div class="col-4 px-1 mb-2">
                            <a href=""><img class="w-100" src="images/gallery-1.jpg" alt=""></a>
                        </div>
                        <div class="col-4 px-1 mb-2">
                            <a href=""><img class="w-100" src="images/gallery-2.jpg" alt=""></a>
                        </div>
                        <div class="col-4 px-1 mb-2">
                            <a href=""><img class="w-100" src="images/gallery-3.jpg" alt=""></a>
                        </div>
                        <div class="col-4 px-1 mb-2">
                            <a href=""><img class="w-100" src="images/gallery-4.jpg" alt=""></a>
                        </div>
                        <div class="col-4 px-1 mb-2">
                            <a href=""><img class="w-100" src="images/gallery-5.jpg" alt=""></a>
                        </div>
                        <div class="col-4 px-1 mb-2">
                            <a href=""><img class="w-100" src="images/gallery-6.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h4 class="text-uppercase text-light mb-4">Newsletter</h4>
                    <p class="mb-4">Volup amet magna clita tempor. Tempor sea eos vero ipsum. Lorem lorem sit sed elitr sed kasd et</p>
                    <div class="w-100 mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control bg-dark border-dark" style="padding: 25px;" placeholder="Your Email">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-uppercase px-3">Sign Up</button>
                            </div>
                        </div>
                    </div>
                    <i>Lorem sit sed elitr sed kasd et</i>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-dark py-4 px-sm-3 px-md-5">
            <p class="mb-2 text-center text-body">&copy; <a href="#">The Wheel Deal</a>. All Rights Reserved.</p>
            
            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->					
        </div>
    
    

    
        <script>
            function darkMode() {
              var element = document.body;
              var content = document.getElementById("DarkModetext");
              element.className = "dark-mode";
              content.innerText = "Dark Mode is ON";
            }
            function lightMode() {
              var element = document.body;
              var content = document.getElementById("DarkModetext");
              element.className = "light-mode";
              content.innerText = "Dark Mode is OFF";
            }
          </script>
    </body>
</html>